* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #1b396a;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.625rem;
  font-weight: bold;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h5{
  font-size: 16px;
}